/* deli */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Croissant+One');
@import url('https://fonts.googleapis.com/css?family=Ramaraja');
@import url('https://fonts.googleapis.com/css?family=Sofadi+One');

#top {
    float: left;
    position: absolute;
    top: 0;
}

body {
    /* font-family: Pacifico; */
    font-family: 'Pacifico', cursive;
    background: #e6e6e6;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    border-top: 2em dashed #eee;
    border-left: 3em dashed #eee;
    border-right: 1.6em dashed #ddf;
    border-bottom: 2em dashed #ddd;
}

body div#content {
    margin: -1.5em;
    background: #f7f7f7;
    padding: 2em;
}

footer {
    margin: -1.5em;
    height: 8em;
    text-align: right;
    /* line-height: 8em; */
    /* opacity:0.5; */
    /* text-decoration:underline; */
    /* color: #fff; */
    /* color: white; */
    border-top: 0.1em solid #white;
    background: linear-gradient(to left, #f7f7f7 0%, #eee 100%);
    /* background: linear-gradient(to bottom, #f7f7f7 0%, #d0d0d0 100%); */
    /* border: 1px solid red; */
    display: block;
    line-height: 8em;
    vertical-align: middle;
}

*.bak {
    border:1px solid red;
}


h1, h2, h3 {
    font-style: italic;
}


ul{
	  padding:0;
	  display:block;
	  margin:0;

}

li {
    display: inline-block;
    margin: 0.1em;
    border-radius: 0.2em;
}

li > a {
    font-family: Pacifico;
    min-width: 1em;
	padding:0.5em 0.55em 0.4em 0.55em;
    display: block;
    text-align: center;
    color: black;
    font-weight: bold;
    box-shadow: 0.15em 0.15em 0 #ddd;
}

li.active{
	  display:inline-block;
	  /* background: linear-gradient(to bottom, #99ff66 0%, #ffff99 100%); */
	  /* background: linear-gradient(to bottom, #f7f7f7 0%, #f0f0f0 100%); */
	  background: white;
	  border: 2px solid #99ff66;
	  border: 2px solid white;
	  /* border: 0.1em solid #ddf; */
	  border: 0.1em solid #f7f7f7;
}

li.active > a {
	  /* color: black; */
	  color: blue;
      text-decoration:none;
	  /* font-family:sans-serif; */
}

li.active > a:hover {
      text-decoration:underline;
}

li.active > a.bak {
    color:rgb(247, 247, 247);
    color: linear-gradient(to bottom, #000066 0%, #ff00ff 100%);
}

li.disabled {
	  display:inline-block;
	  background: linear-gradient(to bottom, #f7f7f7 0%, #f0f0f0 100%);
	  /* border: 2px solid #999999; */
      /* border: 0.1em solid white; */
      border: 0.1em solid #f7f7f7;
}

li.disabled > a {
	  /* color: #666; */
	  color: #ddd;
	  text-decoration:none;
	  /* font-family:sans-serif; */
}

li.disabled.bak > a {
	  color:rgb(247, 247, 247);
}

li.active:hover{
	  cursor:pointer;
}

li.active:active{
	  background: linear-gradient(to bottom, #99ff66 0%, #ff99ff 100%);
}

li.disabled:hover{
	  cursor:default;
}


#gototop {
	  position:fixed;
	  left:0;
	  bottom:0;
	  z-index:999;
	  #background:#ff9;
}

#gototop a {
    font-family: sans-serif;
	  background:#fff;
	  /* font-size:1.5em; */
	  font-size:1.1em;
	  border-top-left-radius: 0.5em;
	  border-bottom-right-radius: 0em;
	  border-top-right-radius: 0.5em;
	  box-shadow: 0.15em 0.15em 1em #aaa;
	  opacity:0.95;
	  /* border: 0.1em solid #ddf; */
	  border: 0.1em solid #eee;
	  /* border-bottom: 1.4em solid #ddf; */
	  border-bottom: 1.4em solid #eee;
    border-bottom:0;
	  color: blue;
    display: block;
	/* padding:0.3em 1em 0.7em 1em; */
	padding:0.5em 1em 0.5em 1em;
	text-decoration:none;
	/* font-style: italic; */
	color: #ccc;
}

#gototop a:visited {
    color: #ccc;
}

#gototop a:hover {
    color: blue;
    /* text-decoration:underline; */
}

div.gallery-item {
}

div.gallery-item > p.description {
    color: #444;
    font-size: 1.1em;
    display: inline-block;
    background: white;
    background: #f3f3f3;
    max-width: 35em;
    padding: 1em;
    border: 0.2em solid #eee;
    vertical-align:top;
    margin: 0;
    /* line-height: 1.4em; */
    line-height: 1.3em;
    
  box-shadow: 0.15em 0.15em 0 #999;
}

.rainbow-text {
   background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange, violet); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);


#web-design {
  font-family: 'PT Sans', sans-serif;
    display: inline-block;
    background: #f9f9f9;
    /*background: linear-gradient(to bottom, #fff 0%, #f9f9f9 100%);*/
    padding: 0.35em 1.8em 0.3em 1.8em;
    /* border: 1px solid blue; */
    border-radius: 0.3em;
    color: transparent;
    color: #aaa;
    opacity: 0.5;
    /* height: 1em; */
    /* border-bottom: 0.3em solid red;  */
    /* border-top: 0.3em solid red;  */
    font-size: 1em;
    border-right: 0.5em dotted pink;
}

img.gallery-image {
	  background: white;
    width: 25em;
    display: inline-block;
    vertical-align:top;
    margin-right: 1.5em;
    border: 0.5em solid white;
    border-radius: 0.5em;
    box-shadow: 0.15em 0.15em 1em #eee;
    /* float:left; */
    /* display: block; */
}

img.gallery-image.bak {
    padding: 0.5em;
    border: 1px solid #ccc;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.3em 1.2em 0 rgba(0, 0, 0, 0.19);
}

img.gallery-image:hover {
    box-shadow: 0.15em 0.15em 1em #ccf;
    border-color: #ccf;
    cursor: pointer;
}

.image-holder {
    background: white;
}

.image-holder > img {
}

.image-holder > .click-to-go-to-image-page {
    /* float:left; */
    vertical-align: middle;
    display: inline-block;
    position:relative;
    top:0;
    left:0;
    border:1px solid red;
}

#toitu-logo {
    float: left;
    position: absolute;
    opacity: 0.2;
    display: inline-block;
    width: 10em;
    padding: 0.5em;
    border-bottom: 0.5em dotted #d0d0d0;
    margin: -0.5em;
    padding-right: 1em;
   background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange, violet); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#toitu-logo:hover {
    border-bottom: 0.5em dotted green;
    cursor: pointer;
}

#header {
    /* background: red; */
    height: 5em;
}


ul#index {
    display:inline-block;
}