* {
/*border:1px solid red;*/
}


ul{
	padding:0;
	display:block;
	margin:0;

}

li.active{
	display:inline-block;
	padding:0.5em;
	background: linear-gradient(to bottom, #99ff66 0%, #ffff99 100%);
	border: 1px solid #99ff66;
}		
	
li.active > a {
	/*color:rgb(247, 247, 247);*/
	color: linear-gradient(to bottom, #000066 0%, #ff00ff 100%);
	text-decoration:none;
	font-family:sans-serif;
}

li.disabled {
	display:inline-block;
	padding:0.5em;
	background: linear-gradient(to bottom, #999999 0%, #ffffff 100%);
	border: 1px solid #999999;
}		
	
li.disabled > a {
	/*color:rgb(247, 247, 247);*/
	/*color: linear-gradient(to bottom, #000000 0%, #ffffff 100%);*/
	color: #666;
	text-decoration:none;
	font-family:sans-serif;
}

li.active:hover{
	background: linear-gradient(to bottom, #99ff66 0%, #ff99ff 100%);
	cursor:pointer;
}		

li.disabled:hover{
	cursor:text;
}

#gototop {
	position:fixed;
	left:0;
	bottom:0;
	z-index:999;
	background:#ff9;
	font-size:2em;
	padding:0.5em 1em;
	border-top-left-radius: 0.5em;
	border-bottom-right-radius: 0em;
	border-top-right-radius: 0.5em;
	opacity:0.8;
}
